@import '../../scss/colors';

.mood__face {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
  .face__mouth,
  .face__eyes {
    color: $color-darkGrey;
    transform: rotate(90deg);
  }
  .face__mouth {
    margin-top: -10px;
  }
}

.good {
  background: $color-yellow;
  &:hover {
    flex-direction: row;
    .face__mouth {
      transform: rotate(360deg);
      margin: -4px 0 0 5px;
    }
    .face__eyes {
      transform: rotate(-180deg);
    }
  }
}

.bad {
  background: $color-orange;
  .face__eyes {
    color: $color-white;
  }
  .face__mouth {
    color: $color-white;
    transform: rotate(-90deg) translateY(-1px);
  }
  &:hover {
    flex-direction: row;
    .face__mouth {
      transform: rotate(-180deg);
      margin: 0 0 0 5px;
    }
    .face__eyes {
      transform: rotate(-180deg);
    }
  }
}
