@import '../../scss/colors';

.page__calendar {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 30px;
}

.calendar__plus-button {
  text-decoration: none;
  width: 290px;
  background: $color-blue;
  color: $color-white;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 20px;
}

.mood__list {
  width: 290px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mood__link {
  text-decoration: none;
  color: $color-black;
}
